:root{
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    body {
      background: var(--black);
      color: var(--white);
    }
    .contactButton{
        border: 2px solid var(--white);
        border-radius: 5px;
        padding: 5px;
        background-color: transparent;
        width: 100px;
        height: 40px;
        color: var(--white);
        font-family: 'Manrope';
      }
  }