.curriculum > h1 {
    color: var(--white);
    padding: 40px;
    font-size: 5vh;
}

.curriculum-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .curriculum-container {
        max-width: calc(100% - 2rem);
    }
  }

.curriculum-container > img {
    width: 60%;
}

.curriculum{
    padding-top: 50px;
    position: relative;
    z-index: 10;
}