footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .contact-footer{
    color: var(--white);
}

.contact-footer > h3:first-of-type{
    font-size: 1.2rem;
}

.contact-footer > h3 {
    padding: 10px;
    font-size: 1rem;
}

.contact-footer a{
    color: var(--white);
    text-decoration: none;
}