@import url(./Variables.css);

.contactButton{
  border: 2px solid var(--black);
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  width: 100px;
  height: 40px;
  color: var(--black);
  font-family: 'Manrope';
}