.contactSection{
  background: rgb(18,18,18);
  background: linear-gradient(180deg, rgba(255,255,255,.9) 30%, rgb(0, 0, 255) 100%);
}

.contactSectionContainer{
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.topRightArrow{
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 4rem;
}

.contactTitle{
  line-height: 1.1;
  font-size: 3rem;
  letter-spacing: -0.06rem;
  font-weight: 800;
  padding-bottom: 10px;
}

.contactSectionContainer > p{
  max-width: 65ch;
  text-align: justify;
  line-height: 1.4;
}

@media (prefers-color-scheme: dark){
  .topRightArrow{
    filter: invert(100%);
  }
}

@media (max-width: 768px){
  .topRightArrow{
    display: none;
  }
  .contactSectionContainer{
    align-items: center;
  }
}