@import url('./Reset.css');

.activeLink{
  background-color: var(--black);
}

.activeLink > a{
  color: var(--white);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: white;
  background-blend-mode: difference;
  z-index: 20;
}

header > ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 10px;
}

header > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: max-content;
  flex: 1;
}

header > ul > img{
  max-width: 40px;
  height: auto;
}

@media screen and (max-width: 700px) {
  #headerContactButton{
    display: none;
  }
  .via{
    display: none;
  }
}

@media (prefers-color-scheme: dark){
  header{
    background-color: var(--black);
  }
  header > ul > li > a{
    color: var(--white);
  }
  .activeLink{
    background-color: var(--white);
  }
  .activeLink > a{
    color: var(--black);
  }
}

@media (max-width: 420px){
  header > ul:last-of-type {
    display: none;
  }
}