.projectsSectionContainer{
  min-height: 100dvh;
  background: rgb(18,18,18);
  background: linear-gradient(180deg, rgba(18,18,18,1) 30%, rgba(255,255,255,.9) 100%);
}

.projectsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  gap: 30px;
}

.projectContainer{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  gap: 20px;
  flex-wrap: wrap;
}

.projectContainer > .projectImageContainer{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectImageContainer > img{
  max-width: 100%;
  max-height: 400px;
  width: auto;
}

.projectContainer > div > p{
  max-width: 45ch;
}

@media (prefers-color-scheme: dark){
  .projectContainer{
    color: var(--black);
  }
}