.projectsSectionContainer{
  position: relative;
  min-height: 100dvh;
  background: rgb(18,18,18);
  background: linear-gradient(180deg, rgba(18,18,18,1) 30%, rgba(255,255,255,.9) 100%);
}

@media (max-width: 768px){
  .topRightArrow{
    display: none;
  }
}