@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');

.contact{
  height: 100dvh!important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-color:#99e9ff;
  background:
  radial-gradient(at 49% 20%, hsla(239,78%,67%,1) 0px, transparent 50%),
  radial-gradient(at 35% 20%, hsla(19,82%,73%,1) 0px, transparent 50%),
  radial-gradient(at 60% 94%, hsla(159,72%,66%,1) 0px, transparent 50%),
  radial-gradient(at 28% 96%, hsla(308,69%,75%,1) 0px, transparent 50%),
  radial-gradient(at 15% 4%, hsla(249,74%,63%,1) 0px, transparent 50%),
  radial-gradient(at 88% 48%, hsla(301,71%,73%,1) 0px, transparent 50%),
  radial-gradient(at 34% 5%, hsla(82,82%,70%,1) 0px, transparent 50%);
  /* background: url(./jeremy-bishop-8xznAGy4HcY-unsplash.jpg); */
  background-size: 200% 200%;
  position: relative;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 2s ease-in-out;
  animation-direction: alternate;
  animation: gradient 15s ease infinite;
}

.contact-modal{
  position: relative;
  width: min(65ch, 100% - 4rem);
}

.contact-modal > form{
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'semi-coder';
  gap: 10px;
}

.contact-modal > form > input{
  font-size: 3vh;
  font-family: 'Rubik';
  max-width: 100%;
  padding: 10px;
  z-index: 2;
  color: var(--black);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 15px;
  border: none;
}

#message-input{
  font-size: 3vh !important;
  resize: none;
  height: 10ch;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Rubik';
  max-width: 100%;
  z-index: 2;
  color: var(--black);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 30px;
  border: none;
}

.contact > .contact-modal > h1 {
  align-self: flex-start;
  line-height: 1.2;
  max-width: 100%;
  padding: 20px;
  z-index: 2;
  font-size: 5vh;
  color: var(--white);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 10px;
}

.contact-modal > form > label{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  padding: 10px;
  color: var(--white);
  max-width: min-content;
  font-family: 'Rubik';
}

.contact-modal > form > input::placeholder{
  font-family: 'Flow Circular';
  font-size: 5vh;
  padding: 10px;
}

#message-input::placeholder{
  font-family: 'Flow Circular';
  font-size: 5vh;
  padding-left: 10px;
  overflow: hidden;
}

.contact-modal > form > button{
  margin-top: 10px;
  max-width: 100%;
  padding: 20px;
  z-index: 2;
  font-size: 3vh;
  color: var(--white);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}